<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <title>Agregar Factura Compra</title>
</head>
<body>
    <h1>Agregar Factura Compra</h1>
    <form action="{{ url_for('facturaCompra.add') }}" method="post">
        <label for="dtoFC">Descuento:</label>
        <input type="text" id="dtoFC" name="dtoFC" required>
        
        
        <label for="totalFC">Total:</label>
        <input type="text" id="totalFC" name="totalFC" required>
        <select id="idAdmin" name="idAdmin">
            {% for administrador in data %}
                <option value="{{ administrador.idAdmin }}">{{ administrador.nombre }}</option>
            {% endfor %}
        </select>
        <select id="idProv" name="idProv">
            {% for proveedor in proveedor %}
                <option value="{{ proveedor.idProv }}">{{ proveedor.nombre }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Agregar Factura Compra</button>
    </form>
</body>
</html>