<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Factura Compra</title>
</head>
<body>
    <h1>Editar Factura Compra</h1>
    <form action="{{ url_for('facturaCompra.edit', idFC=facturaCompra.idFC) }}" method="post">
        <label for="dtoFC">Descuento:</label>
        <input type="text" id="dtoFC" name="dtoFC" value="{{ facturaCompra.dtoFC }}" required>
        <label for="fechaFC">Fecha:</label>
        <input type="text" id="fechaFC" name="fechaFC" value="{{ facturaCompra.fechaFC }}" required>
        <label for="totalFC">Total:</label>
        <input type="text" id="totalFC" name="totalFC" value="{{ facturaCompra.totalFC }}" required>
        <label for="idAdmin">Id Administrador:</label>
        <input type="text" id="idAdmin" name="idAdmin" value="{{ facturaCompra.idAdmin }}" required>
        <label for="idProv">Id Proveedor:</label>
        <input type="text" id="idProv" name="idProv" value="{{ facturaCompra.idProv }}" required>
        
        <button type="submit">Actualizar Proveedor</button>
    </form>
</body>
</html>
